/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: blue;
}

 .title {
   font-family: monospace;
   font-size: 15px;
   margin: 15px;
 }

 .title ul li{
   display: flex;
   justify-content: flex-end;
   font-size: 15px;
   border-radius: 3px;
   list-style: none;
   padding: 2px;
 }

 .title span {
   justify-content: center;
   font-size: 50px;
   color: white;
 }

 .title section {
   display: flex;
   font-size: 50px;
   color: white;
   height: 50px;
 }

 .title section:first-child {
   justify-content: center;
   text-decoration: overline;
   border-bottom: 5px solid white;
   padding: 15px;
 }

 .title section:last-child {
   justify-content: flex-start;
 }

 .title section ~ section {
   justify-content: flex-end;
 }

 .main-content {
   font-family: monospace;
   font-size: 20px;
   color: white;
   padding: 20px;
 }
